// html basic
// ============================================
html {
    scroll-behavior: smooth;
    // overflow: hidden;
    height: 100%;
    font-size: 10px;
}
body {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: $base-serif;
    color: $secondary;
    // overflow: hidden;
    background: url(../images/bg_main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

picture {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        @include md {
            opacity: .8;
        }
    }
}

input, textarea {
    font-family: $base-serif;
}

button {
    cursor: pointer;
    &:hover {
        @include md {
            opacity: .8;
        }
    }
}

.overflow-hidden {
    overflow: hidden;
}
.position-relative {
    position: relative;
}