// color
// ============================================
$primary: #dc2222;
$secondary: #a56f34;
$third: #000;
$fourth: #98A0A9;
$fifth: #495057;
$sixth: #616A75;
$seventh: #EFE8FD;
$base: #000000;
$link: #2984f6;
$danger: #d02b2b;
$light: #ffffff;

// display
// ============================================
$xs: 320px;
$md: 768px;
$mdm: 767px;
$lgm: 991px;
$lg: 992px;
$xlm: 1023px;
$xl: 1024px;
$xxl: 1280px;
$xxlm: 1279px;
// width
// ============================================
$innerWidthPc: 83.53%;

// Google Fonts
// ============================================
// Base Font Family
$base-serif: 'Montserrat', sans-serif;
$heading-font: 'UTMBebas', sans-serif;